* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
}

/* NAVIGATION */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
}

/* HERO */
main {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: clamp(60px, 12vw, 160px);
    letter-spacing: 15px;
}

main p {
    margin-top: 20px;
    letter-spacing: 6px;
    color: #aaa;
}

button {
    margin-top: 40px;
    padding: 16px 40px;
    background: white;
    color: black;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

button:hover {
    background: #ccc;
}

/* MOBIL */
@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    .menu {
        gap: 15px;
    }

    .menu a {
        font-size: 11px;
    }

    main h1 {
        letter-spacing: 8px;
    }
}
.shop {
    padding: 80px 50px;
    text-align: center;
}

.shop h1 {
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 60px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.product {
    width: 350px;
}

.product-image {
    height: 450px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.product h2 {
    font-size: 18px;
    letter-spacing: 2px;
}

.product p {
    color: #aaa;
    margin: 12px 0 20px;
}

.product button {
    margin-top: 0;
}

.shop-button {
    display: inline-block;
    margin-top: 40px;
    padding: 16px 40px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

@media (max-width: 700px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 90%;
    }

    .product-image {
        height: 400px;
    }
}
